 <task-lists disabled="" sortable="">
<table class="d-block">
<tbody class="d-block">
<tr class="d-block">
<td class="d-block comment-body markdown-body js-comment-body">
<h2>Location</h2>
<ul>
<li>
<p>Dinovative is looking for ROR Back-end Developer who is excited to work alongside a talented group of innovators to craft digital products. Being part of the conversation from the start, you will be expected to lead full lifecycle webbased projects including guiding technical scoping, design and implementation.<br/>
Collaborating with UX &amp; UI designers, researchers and other engineers (web &amp; mobile), you will have the ability to flex your full stack chops to help shape, design and build digital products that help solve key business needs. We want people who love being involved in challenging and innovative work.</p>
</li>
<li>
<p>204 Pasteur, Ward 6, Distrist 3</p>
</li>
</ul>
<h2>Salary Expectation</h2>
<ul>
<li>$600 - $2000</li>
</ul>
<h2>Requirements</h2>
<ul>
<li>Ruby on Rails</li>
<li>Grape API</li>
<li>PostgreSQL</li>
<li>Apache, Nginx, Passenger, Docker, Sidekiq</li>
<li>Centos for deployment</li>
</ul>
<h2>Skills</h2>
<p>Strong Ruby on Rails and Server set up</p>
<h3>Must Have</h3>
<ul>
<li>Experience writing tests with RSpec/MiniTest and doing Continuous Integration is a plus</li>
<li>Experience working with relational database (PostgreSQL)</li>
<li>Experience with building beautiful and efficient APIs</li>
<li>Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3</li>
<li>Solid understanding of object-oriented programming</li>
<li>Strong analytical and problem solving abilities</li>
<li>Strong communication and client facing skills</li>
</ul>
<h3>Ideally</h3>
<ul>
<li>Experience with Ruby on Rails or Grape API</li>
<li>Experience setting up servers (nginx etc.) and automating deployment process (Docker, Ansible, Chef etc.)</li>
</ul>
<h3>Responsibilities</h3>
<ul>
<li>Design, build, and maintain efficient, reusable, and reliable Ruby code</li>
<li>Integration of data storage solutions</li>
<li>Help maintain code quality, organization and automatization</li>
<li>Constantly learn and keep abreast of emerging technologies</li>
<li>Contribute to the software design processes including whiteboarding sessions, workshops and prototyping</li>
<li>Critique software designs and architectures</li>
<li>Peer review colleagues code and identifying areas for improvement</li>
<li>Provide development task effort estimates</li>
<li>Conduct client requirements gathering and analysis</li>
<li>Review test plans</li>
<li>Follow defined development best practice including commenting and documenting code, contribute to development wikis and using source control</li>
</ul>
<h3>Why it would be awesome to work with us</h3>
<ul>
<li>Come and work with us. You will have opportunity to learn new technologies with international standard, build products that are different/innovative and get various benefits:</li>
<li>Working in dynamic, young, friendly, flexible invironment</li>
<li>Laptop is provided</li>
<li>12+ days annual leaves, working Monday - Friday, flexible working time</li>
<li>Attractive salary based on skills and experiences</li>
<li>Salary review: Once a year, base on individual performance review</li>
<li>Performance bonus: Twice a year (every 6 months), base on individual performance, profit and company policy</li>
<li>Gift occasions: 8/3; 1/6 (for children); Mid-autumn festival; 20/10; Lunar New Year, Wedding</li>
<li>Free fruits/ snacks on happy hours time</li>
<li>Celebration: birthday</li>
<li>Party time: Team building (frequent) and Xmas</li>
<li>Healthcare, Unemployment insurance and Sick leave: based on current relevant Laws</li>
<li>Great opportunity for career development</li>
<li>Training new technology frequently, and become a fullstack developer</li>
</ul>
<h3>Interesting engineering projects</h3>
<ul>
<li>We use international standard in building system such as agile, test driven development, continuous integration and continuous deployment.</li>
<li>Various projects with so many new technologies applied</li>
</ul>
<h3>Contact</h3>
<p>Email: <a href="mailto:oanh.tang@dinovative.com">oanh.tang@dinovative.com</a><br/>
Phone: 0909 617 173<br/>
Skype: tangoanh<br/>
FB: <a href="https://www.facebook.com/oanhtang195" rel="nofollow">https://www.facebook.com/oanhtang195</a></p>
</td>
</tr>
</tbody>
</table>
</task-lists> 