<!DOCTYPE html>
<html>
<head>
	<title>Awesome jobs in Vietnam</title>
	<style>
		a:link, a:visited {
			background-color: #f44336;
  			color: white;
  			padding: 15px 25px;
  			text-align: center;
  			text-decoration: none;
 			display: inline-block;
		}
		a:hover, a:active {
  			background-color: red;
  		}
  	</style>
</head>
<body>
	<h1 style="text-align: center; font-family: Ubuntu;">Awesome Jobs in Vietnam</h1>
	{% for node in nodes %}
		<h2>{{ node[1] }}</h2>
		<a href={{ node[0] }} target="_blank">Click for more details</a>
	{% endfor %}

</body>
</html>}}